<div class="playground">
  <aside class="modes">
    <h3>Modes</h3>
    <ul class="modes-list">
      <ng-container *ngFor="let m of modes">
        <!-- group with children -->
        <li class="mode-group" *ngIf="m.children">
          <div class="group-title">{{ m.title }}</div>
          <ul class="group-children">
            <li *ngFor="let c of m.children"
                (click)="selectMode(c)"
                [class.active]="selectedModeId === c.id">
              {{ c.title }}
            </li>
          </ul>
        </li>

        <!-- single mode -->
        <li *ngIf="!m.children" (click)="selectMode(m)" [class.active]="selectedModeId === m.id">
          {{ m.title }}
        </li>
      </ng-container>
    </ul>
  </aside>

  <section class="demo">
    <h2> Playground</h2>

    <div class="demo-area">
      <ng-container *ngIf="tableVisible">
        <super-table
          [config]="currentConfig"
          [data]="currentData"
          [attr.data-instance-key]="currentConfig?.__instanceKey"
          (page)="onEvent('page', $event)"
          (sort)="onEvent('sort', $event)"
          (filter)="onEvent('filter', $event)"
          (selection)="onEvent('selection', $event)"
        ></super-table>
      </ng-container>

      <div *ngIf="!tableVisible" class="hint">Pick a mode to show the table.</div> 
    </div>
  </section>
</div>


<router-outlet />

    
